<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title%}{%endblock%}
    </title>
</head>

<body>
    <h1 style="background-color:green; color:white; text-align:center;">Píldoras informáticas</h1>
    <h3>Cursos de programación,ofimática y diseño web</h3>

    {%block content%}
    {%endblock%}

    <p style="background-color:green; color:white; text-align:right;">Cursos gratuitos. Gracias por su visita</p>
</body>

</html>